.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    background: linear-gradient(#5a5252, #5c4646);
    margin-bottom: 20px;

}